<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark mb-3">
  <!--<a class="navbar-brand" href="#">DataPOA</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/onibus-listagem']">
          <i class="fa fa-bus"></i>
          Listagem de Ônibus
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lotacao-listagem']">
          <i class="fa fa-bolt"></i>
          Listagem de Lotação
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">0</span>
          </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
