<div class="error-template">
  <i class="fa fa-frown-o fa-2x"></i>
  <h1>
    Oops!</h1>
  <h2>
    404 Not Found</h2>
  <div class="error-details">
    Sorry, an error has occured, Requested page not found!
  </div>
</div>
