#loader{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.8);
  z-index: 1050;
  height: auto;

  overflow-x: hidden;
  overflow-y: auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;

  position: absolute;
  left: 45%;
  top: 45%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
