
<app-header></app-header>
<h4 class="title-page">
  <i class="fa fa-bus"></i> Busca de Linhas de ônibus
</h4>
<div>
  <input type="search" class="form-control" placeholder="Digite para buscar as linhas de ônibus"
       value="{{searchText}}" (keyup)="buscarBus($event.target.value)" [(ngModel)]="searchText"/>
</div>



<div class="text-center mt-4" *ngIf="emptyList">
  <h3>Nenhum resultado encontrado</h3>
</div>
<div *ngIf="exibeLista && !emptyList" class="mt-4">
  <app-loading [show]="showLoading"></app-loading>
  <div class="row">
  <div class="col-md-3" *ngFor="let onibus of onibusItens">
    <div class="card border-info card-bus mx-sm-1 mb-4 p-3">
      <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-car" aria-hidden="true"></span>
      </div>
      <div class="text-info text-center mt-3"><h5>{{onibus.codigo}}</h5></div>
      <div class="text-info text-center mt-2"><p>{{onibus.nome}}</p></div>

      <button [routerLink]="['/onibus-listagem/itinerario', onibus.id]" type="button" class="btn btn-primary">
        + Informações
      </button>
    </div>
  </div>
  </div>
</div>
