<app-header></app-header>
<div class="col-md-12">
  <div class="card mb-4">
    <div class="card-header"><i class="fa fa-map-signs"></i>
      {{objItinerario?.codigo}} - {{objItinerario?.nome}}
      <button [routerLink]="pageCurrent === 'onibus-listagem' ? ['/onibus-listagem'] : ['/lotacao-listagem']" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Voltar</button>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of objLocalidades; let i = index">
          <th scope="row">{{i}}</th>
          <td><a target="_blank" href="https://www.google.com/maps/?q={{obj.lat}},{{obj.lng}}">Ver no mapa</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
